<div class="sidebar">
  <div class="sidebar-header">
    <div>
      <a href="../index.html" class="sidebar-logo"><span>The Haven Portal</span></a>
    </div>
  </div><!-- sidebar-header -->
  <div id="dpSidebarBody" class="sidebar-body">
    <ul class="nav nav-sidebar">
      <!-- <li class="nav-label"><label class="content-label">Template Pages</label></li> -->
      <li class="nav-item show">
        <a href="" class="nav-link with-sub active"><i data-feather="box"></i> Dashboard</a>
        <ul class="nav nav-sub">
          <li class="nav-sub-item"><a href="dashboard-one.html" class="nav-sub-link active">2019 Giving Records</a></li>
<!--           <li class="nav-sub-item"><a href="dashboard-two.html" class="nav-sub-link">Projects &amp; Web Services</a></li>
          <li class="nav-sub-item"><a href="dashboard-three.html" class="nav-sub-link">Blog &amp; Social Media</a></li> -->
        </ul>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link with-sub"><i data-feather="layout"></i> Events</a>
<!--         <nav class="nav nav-sub">
          <a href="app-calendar.html" class="nav-sub-link">Calendar</a>
          <a href="app-chat.html" class="nav-sub-link">Chat</a>
          <a href="app-mail.html" class="nav-sub-link">Mail</a>
        </nav> -->
      </li>

      <li class="nav-item">
        <a href="" class="nav-link with-sub"><i data-feather="user"></i> Profile</a>
        <nav class="nav nav-sub">
          <a href="page-profile.html" class="nav-sub-link">Membership Information</a>
          <a href="page-settings.html" class="nav-sub-link">Profile Settings</a>
          <!-- <a href="page-timeline.html" class="nav-sub-link">Timeline</a> -->
          <!-- <a href="page-people.html" class="nav-sub-link">People</a> -->
        </nav>
      </li>

  </div><!-- sidebar-body -->
</div><!-- sidebar -->
