.signup-panel {
  @extend .signin-panel;
}

.signup-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include media-breakpoint-up(xs) {
    position: static;
  }

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) { width: 52%; }
  @include media-breakpoint-up(xl) { width: 45%; }
}

.signup-sidebar-body {
  @extend .signin-sidebar-body;
}

.signup-form {
  margin-top: 20px;
  margin-bottom: 40px;

  .form-group { margin-bottom: 20px; }

  label {
    color: $color-text-03;
    margin-bottom: 2px;
  }

  .form-control {
    font-size: 16px;
    font-weight: $font-weight-medium;
    padding: 0 0 5px;
    border-width: 0 0 2px 0;
    color: $color-text-01;

    &::placeholder {
      font-weight: 400;
      color: $gray-500;
    }
  }
}

.signup-title { @extend .signin-title; }
.signup-subtitle { @extend .signin-subtitle; }
