<%= render partial: "dashboard/sidebar" %>

<div class="content content-page">
  <%= render partial: "dashboard/navbar" %>
  <div class="col-md-10 mg-t-20">
    <div class="card card-body pd-sm-40 pd-md-30 pd-xl-y-35 pd-xl-x-40">
      <div class="tab-content">
        <h3 class="tx-uppercase tx-semibold tx-color-01 mg-b-0">GIVINGS FOR THE MINISTRY YEAR 2019/2020</h3>
        <br>
        <p class="mg-b-20">Here are the records of your givings so far in the Ministry Year 2020. Please note that the ministry year started November 1st, 2019.</p>
        <br>

        <table id="example2" class="table">
          <thead>
            <tr>
              <th class="wd-20p">Date</th>
              <th class="wd-20p">Amount</th>
              <th class="wd-20p">Partnership Arm</th>
              <th class="wd-25p">Payment Code</th>
              <th class="wd-15p">Mode of Giving</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>11th November, 2019</td>
              <td>$3,200,800</td>
              <td>Haven Project</td>
              <td>HavenProj</td>
              <td>Transfer</td>
            </tr>
            <tr>
              <td>12th December, 2019</td>
              <td>$170,750</td>
              <td>Healing School</td>
              <td>HS</td>
              <td>Cheque</td>
            </tr>
            <tr>
              <td>13th December, 2019</td>
              <td>$86,000</td>
              <td>Rhapsody</td>
              <td>ROR</td>
              <td>Cheque</td>
            </tr>
            <tr>
              <td>12th January, 2020</td>
              <td>$433,060</td>
              <td>LoveWorld USA</td>
              <td>LWUSA</td>
              <td>Transfer</td>
            </tr>
            <tr>
              <td>15th January, 2020</td>
              <td>$700</td>
              <td>LCA Project</td>
              <td>Local Project</td>
              <td>Cash</td>
            </tr>
            <tr>
              <td>12th January, 2020</td>
              <td>$372,000</td>
              <td>Haven Project</td>
              <td>HavenProj</td>
              <td>Transfer</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
