<p>Dear <%= @user.email %>

<p>Thank you for signing up on The Haven Portal.</p>
<p>The Haven ministry is borne out of the strategy of the Holy Spirit, the Lord of the harvest, to raise a group of people to a position of strength, economic power and spiritual wisdom. We're so glad to have you join us in this mission.</p>

</p>Kindly complete your profile if you're yet to do so, we would like to know you better.</p>

<p>Yours in Christ,
<br>The Haven International</p>
